<div class="card__wrapper mar-tb-10 col-sm-12">
  <div class=" card__question">
    <p><span>{{ num + 1 }}.) </span>{{ question?.question }}</p>
  </div>
  <div class="card__answer">
    <ng-container *ngFor="let option of question?.options; let i = index;">
      <label for="question-{{num + '' + i}}">
        <input id="question-{{num + '' + i}}" type="radio" name="question-{{num}}">
        <span class="radio"></span>
        <span class="text">{{ option }}</span>
      </label>
    </ng-container>
  </div>
</div>