<ng-container *ngIf="_commonService?.dashboardStateFlag === 2">
  <div class="col-sm-12" *ngIf="questionSet?.length > 0">
    <ng-container *ngIf="showQuestion">
      <app-question-card class="row" [question]="questionSet[currentQuestion]" [num]="currentQuestion">
      </app-question-card>
    </ng-container>
  </div>
  <div class="col-sm-12 text-center mar-tb-10" *ngIf="currentQuestion >= questionSet?.length - 1">
    <p *ngIf="marksGot > 0">You have {{ marksGot }} scored out of {{ questionSet?.length }} marks</p>
    <button class=" btn__submit" (click)="evaluateResult()">Submit</button>
  </div>
  <div class="col-sm-4"></div>
  <div class="col-sm-4 text-center mar-tb-30">
    <button [disabled]="currentQuestion <= 0" (click)="loadNextQuestion(currentQuestion - 1)" class="btn__action"><i
        class="fa fa-arrow-left" aria-hidden="true"></i></button>
    <button (click)="quitQuiz()" class="btn__action quit" title="Reset Quiz">quit</button>
    <button [disabled]="currentQuestion >= questionSet?.length - 1" (click)="loadNextQuestion(currentQuestion + 1)"
      class="btn__action"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
  </div>
  <div class="col-sm-4"></div>
</ng-container>