@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

$blue: #3e3c89;
$white: #ffffff;
$grey: #797979;
$lightgreywhite: #f8f9fa;
$gray_border: #eaeaea;
$shadow: #dedede;

* {
  font-family: "Roboto", sans-serif;
}

$font-size: ();
@each $font in $font-size {
  .f-size-#{$font} {
    font-size: #{$font} + "px";
  }
}

$margin-top-bottom: (10, 15, 30);
$margin-left-right: ();

@each $margin in $margin-left-right {
  .mar-lr-#{$margin} {
    margin-left: #{$margin} + "px";
    margin-right: #{$margin} + "px";
  }
}

@each $margin in $margin-top-bottom {
  .mar-tb-#{$margin} {
    margin-top: #{$margin} + "px";
    margin-bottom: #{$margin} + "px";
  }
}

$padding-top-bottom: (10);
$padding-left-right: ();

@each $padding in $padding-left-right {
  .pad-lr-#{$padding} {
    padding-left: #{$padding} + "px";
    padding-right: #{$padding} + "px";
  }
}

@each $padding in $padding-top-bottom {
  .pad-tb-#{$padding} {
    padding-top: #{$padding} + "px";
    padding-bottom: #{$padding} + "px";
  }
}

.inline-block {
  display: inline-block;
}

.btn__grey:disabled,
.btn__grey:active,
.btn__grey {
  background: $grey;
  color: $white;
  &:hover {
    background: $grey;
    color: $white;
  }
}

.btn__blue,
.btn__blue:disabled,
.btn__blue:active {
  background: $blue !important;
  color: $white !important;
  &:hover {
    background: $blue !important;
    color: $white !important;
    opacity: 0.75;
  }
}

p.error {
  color: red;
  margin: 5px 0px;
  font-size: 13px;
}

button.disabled {
  opacity: 0.5;
}
