<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Credicxo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="container" *ngIf="!_commonService?.dashboardStateFlag">
  <div class="row tabs__container">
    <div class="col-sm-6 text-center">
      <span class="leaderboard" (click)="_commonService.dashboardStateFlag=1">View Leaderboard</span>
    </div>
    <div class="col-sm-6 text-center">
      <span class="quiz" (click)="_commonService.dashboardStateFlag=2">Start Quiz</span>
    </div>
  </div>
</div>

<div class="container">
  <app-leaderboard class="row" *ngIf="_commonService?.dashboardStateFlag === 1"></app-leaderboard>
  <app-quiz class="row" *ngIf="_commonService?.dashboardStateFlag === 2"></app-quiz>
</div>